
.metadata/.lock
.metadata/.log
.metadata/version.ini
/.metadata/
*.class
QuickCheck/.project
QuickCheck/.settings/org.eclipse.core.resources.prefs
LearnJava/.classpath
LearnJava/.classpath
LearnJava/.settings/org.eclipse.jdt.core.prefs
LearnJava/.classpath
LearnDatabase/.classpath
LearnDatabase/.project
LearnDatabase/.settings/org.eclipse.jdt.apt.core.prefs
LearnDatabase/.settings/org.eclipse.jdt.core.prefs
LearnDatabase/.settings/org.eclipse.m2e.core.prefs
/LearnDatabase/target
LearnWeb/.classpath
LearnWeb/.project
/LearnWeb/.settings
/Servers
