<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LearnWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>com.lern.web.servlets.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveAccountsServlet</display-name>
    <servlet-name>RetrieveAccountsServlet</servlet-name>
    <servlet-class>com.lern.web.servlets.RetrieveAccountsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveAccountsServlet</servlet-name>
    <url-pattern>/fetch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>com.lern.web.servlets.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAccountServlet</display-name>
    <servlet-name>FetchAccountServlet</servlet-name>
    <servlet-class>com.lern.web.servlets.FetchAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAccountServlet</servlet-name>
    <url-pattern>/fetchAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DespositServlet</display-name>
    <servlet-name>DespositServlet</servlet-name>
    <servlet-class>com.lern.web.servlets.DespositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DespositServlet</servlet-name>
    <url-pattern>/depositAmount</url-pattern>
  </servlet-mapping>
</web-app>